@import "variables";

$primary-color:#fffaf0;
$primary-color2:#272727;
$primary-color3:#f9cec2;

.row {
	width: 100%;
	max-width: 1200px;
	margin: auto;
	display: flex;
}

.side-menu {
    .active {
        background-color: $primary-color3 !important;
        color: $primary-color2 !important;
        border: 1px solid $primary-color2 !important;
    }
    @media screen and (max-width:$pad) {
        display: flex;
		width: 100%;
        div {
            margin: 20px auto 0px;
        }
    }
    a {
        width: 200px;
	    font-size: 1.6em;
	    background-color: $primary-color3;
	    color: $primary-color2;
	    text-decoration: none;
	    border: 1px solid $primary-color2;
    }
    div {
        a {
            .fas {
                margin-right: -8px;
	            transform: scale(0);
            }
            &:hover {
                background-color: $primary-color3;
                .fas {
                    margin-right: 0;
	                transform: scale(1);
                }
            }
        }
    }
    @media screen and (min-width:$pad) {
        display: flex;
		margin-top: 100px;
    }
}

.main-content {
    display: flex;
	flex-wrap: wrap;
	padding: 100px 0px 0px 0px;
	margin: auto;
    .item {
        width: 90%;
	    max-width: 370px;
	    margin: 15px auto 120px;
	    text-align: center;
	    border: 10px solid $primary-color3;
	    background-color: #fff;
	    border-radius: 25px;
	    box-shadow: 10px 10px 10px #f7b6a7;
	    box-sizing: border-box;
	    cursor: pointer;
        .pic {
            overflow: hidden;
            .p-img {
                display:inline-block;
	            width: 100%;
            	height: 300px;
	            transform:scale(1,1);transition: all .3s ease-out;
                &:hover {
                    transform:scale(1.2,1.2);
                }
            }
        }
        .text {
            padding: 20px 20px 16px;
        }
        h3 {
            color: #f5afac;
	        padding: 0 0 10px 0;
        }
        p {
            color: $primary-color2;
        }
        &:hover {
            .fas {
                animation: shake .2s linear infinite alternate;
            }
        }
    }
    .icon {
        width: 150px;
	    height: 150px;
    	background-color: #fff;
	    margin: -75px auto 0;
	    font-size: 60px;
	    line-height: 150px;
    	border-radius: 50%;
    	color: #f5afac;
    	position: relative;
        &::before {
            content: '';
	        position: absolute;
        	width: 100%;
	        height: 100%;
	        border-top: 10px solid $primary-color3;
        	border-right: 10px solid $primary-color3;
	        border-bottom: 10px solid transparent;
        	border-left: 10px solid transparent;
	        left: 0px;
	        top: 0px;
        	border-radius: 50%;
	        transform: rotate(-45deg);
        }
    }
}
@keyframes shake {
	0%{transform: rotate(-10deg);}
	100%{transform: rotate(10deg);}
}
